*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
  font-family: 'Nunito Sans', sans-serif;
}
#principal{
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #132341;
}
form{
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #e6d7c3;
}
form h1{
  color: #2d5152;
}
form input{
  width: 300px;
  height: 30px;
  padding-left: 1rem;
}
form textarea{
  width: 300px;
  padding-left: 1rem;
}
button{
  padding: .5rem 1.2rem;
  cursor:pointer;
  background: #76a7a5;
  color: #e6d7c3;
  border: none;
}
#list{
  background: #132341;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}
#caja{
  padding: 1rem;
  background: #e6d7c3;
  margin: .2rem;
  height: 85vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
#caja img{
  height: 300px;
  width: 300px;
}
#likes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
#likes h3{
  color: #2d5152;
}
#likes a{
  text-decoration: none;
  color:#2d5152;
}
#botones{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#edit{
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #132341;
}
#menu{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #2d5152;
}
#menu a{
  text-decoration: none;
  color: #e6d7c3;
  font-size: 30px;
  border-bottom: 1px solid;
}
#mas, #menos{
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #132341;
}
.info{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}