*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}
#principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #132341;
}
form{
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #e6d7c3;
}
form h1{
  color: #2d5152;
}
form input{
  width: 300px;
  height: 30px;
  padding-left: 1rem;
}
form textarea{
  width: 300px;
  padding-left: 1rem;
}
button{
  padding: .5rem 1.2rem;
  cursor:pointer;
  background: #76a7a5;
  color: #e6d7c3;
  border: none;
}
#list{
  background: #132341;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#caja{
  padding: 1rem;
  background: #e6d7c3;
  margin: .2rem;
  height: 85vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#caja img{
  height: 300px;
  width: 300px;
}
#botones{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#edit{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #132341;
}